.slider {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  width: 1000px;
  height: 600px;
  border-radius: 10px;
}

.right-arrow {
  position: absolute;
  top: 50%;
  right: 32px;
  font-size: 3rem;
  color: #000;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.left-arrow {
  position: absolute;
  top: 50%;
  left: 32px;
  font-size: 3rem;
  color: #000;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.slide {
  opacity: 0;
  transition-duration: 1s ease;
}

.slide.active {
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1.08);
}
:root {
  --text-color: #eee;
  --minFontSize: 11px;
  --maxFontSize: 24px;
  --scaler: 1.5vw;
}

#root,
:root,
body,
html {
  margin: auto;
  padding: 0;
  height: 100%;
  width: 100%;
  display: inline-block;
}

.background-red {
  background-color: red;
}

.background-blue {
  background-color: blue;
}

.delete-button {
  padding: 20px;
  color: #b000b3;
}
/* html {
  font-size: min(max(var(--minFontSize), var(--scaler)), var(--maxFontSize));
  background-color: #b000b3;
  background: linear-gradient(162deg, #fff2cc 0, #b000b3 100%);
  font-family: "Avenir Next", Avenir, "Segoe UI", Roboto, "Helvetica Neue",
    Helvetica, Arial, sans-serif;
} */
body {
  background-color: #b000b3;
  background: linear-gradient(162deg, #fff2cc 0, #b000b3 100%);
}
/* 
body {
  position: relative;
  color: var(--text-color);
  font: 400 1em/1.5em inherit;
  text-align: center;
}

#root {
  font-size: 100%;
}

.konami {
  transition: all 456ms ease-in-out 1ms;
  width: fit-content;
  max-width: 50%;
  border-radius: 3px;
  border: 0;
  padding: 0;
  margin: auto;
}

.konami::backdrop {
  transition: all 456ms ease-in-out 1ms;
  min-height: 100vh;
  min-width: 100vw;
}

.konami:not([open]),
.konami:not([open])::backdrop {
  opacity: 0;
}

.konami[open],
.konami[open]::backdrop {
  opacity: 1;
}

.konami:not([open]) {
  transform: translateY(100%);
}

.konami[open] {
  transform: translateY(1%);
  box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.5), 0 1px 3px 0 rgba(0, 0, 0, 0.4),
    0 5px 20px 0 rgba(0, 0, 0, 0.3);
}

.konami:not([open])::backdrop {
  background: 0 0;
  -webkit-backdrop-filter: blur(0);
  backdrop-filter: blur(0);
}

.konami[open]::backdrop {
  background: rgba(10, 0, 5, 0.5);
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
}

.diag-wrapper {
  margin: 2em;
  font-size: 80%;
  text-align: left;
}

.diag-wrapper > footer {
  text-align: right;
}

.info {
  width: 100%;
  height: 100%;
  display: flex;
}

.info > h1 {
  max-width: 18em;
  line-height: 2;
}

.info > h1,
.title {
  margin: auto;
  padding: 0;
} */
