.each-slide-effect > div {
  display: flex;
  width: 100vh;
  align-items: center;
  justify-content: center;
  background-size: cover;
  height: 350px;
}

.each-slide-effect span {
  padding: 20px;
  font-size: 20px;
  background: #650d95;
  text-align: center;
}
